*,
*::after,
*::before
  margin 0
  padding 0
  word-break break-word
  box-sizing border-box
  -webkit-font-smoothing antialised

html,
body
  height 100%
  min-height 100%
  font-family system-ui,-apple-system,Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji

body
  padding 0
  margin 0
  line-height 1.5
